<div class="company-grid">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-md-12 responsive box company-info">
            <h1>Company</h1>
            <h1>Information</h1>
            <span>
                <i class="glyphicon glyphicon-briefcase"></i>
            </span>
        </div>
        <div class="col-lg-6 col-md-12 box">
            <div class="grid-spacer col-md-12">
                <span class="company-ind">@Html.HiddenFor(x => x.LastOrDefault().ComId, new { @class = "help" })</span>
                <h3 class="segment-header">@Html.DisplayFor(x => x.LastOrDefault().CompanyName)</h3>
                <h4>Account Number:</h4>
                <h4>@Html.DisplayFor(x => x.LastOrDefault().AccountNumber)</h4>
                <h4>Company Owner:</h4>

                <h4>@Html.DisplayFor(x => x.LastOrDefault().CreatedBy)</h4>
                @if(User.IsInRole("Company"))
                {
                    <span class="company-ind">@Html.HiddenFor(x => x.LastOrDefault().ComId, new { @class = "help" })</span>
                    <h3 class="segment-header">@department.DepName</h3>
                    <h4>Sales Coach Company:</h4>
                    <h4>@department.CompanyDTO.CompanyName</h4>
                }
                @if (User.IsInRole("Administrator"))
                {
                    @Html.DropDownList("Companies", new SelectList(ViewBag.CompanyList, "Value", "Text"), htmlAttributes: new {onchange = "assignCompany()", @class = "form-control department-list", @id = "companylist"})
                }
            </div>
        </div>
        <div class="row company-table departments" style="display: none">
            <div class="col-lg-8 col-md-12">
                    <a class="btn view-activity btn-default col-lg-6">
                        <div class="">
                            <span>
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                            View
                        </div>
                    </a>
                    <a class="btn edit-activity btn-default col-lg-6" id="@department.DepId">
                        <div>
                            <span>
                                <i class="glyphicon glyphicon-edit"></i>
                            </span>
                            Edit
                        </div>
                    </a>
                 @*Html loaded asynchronously with Ajax*@         
                <div class="form box">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 box">
                    <a class="btn get-user btn-default col-lg-12" onclick="getDepartmentRowInfo()" id=@department.DepId>
                        <div class="" >
                            <span>
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            View Users
                        </div>
                    </a>                  
                    <div class="dep create" style="display:none">
                        <h3 class="segment-header">Add Company</h3>
                        <div class="create-form box"></div>
                    </div>
                    <div class="dep edit" style="display: none">
                        <h3 class="segment-header">Edit Company Name</h3>
                        <div class="form edit-form box"></div>
                    </div>
                
                    <div class="guideline-container">
                <div class="guideline">
                    <span>
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    </span>
                    To edit your company name, type in the first text-box in the edit activity section.
                </div>
                <div class="guideline">
                    <span>
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    </span>
                    When editing an activity name, be sure to type within the same text-box.
                </div>
                <div class="guideline">
                    <span>
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    </span>
                    If adding a new activity, be sure to type the activity name within a blank text-box.
                </div>
                <div class="guideline">
                    <span>
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    </span>
                    When adding an activity with a monetary value, be sure to type it underneath the Monetary Activity section.
                </div>
                        <div class="guideline">
                            <span>
                                <i class="glyphicon glyphicon-warning-sign"></i>
                            </span>
                            When adding an activity with a numerical value, be sure to type it underneath the Numeric Activity section.
                        </div>
                    </div>
            </div>
        </div>
        <div class="row company-table user" style="display: none">
            <div class="col-lg-8 col-md-12">
                <h3 class="segment-header">Users</h3>
                <div class="form box">

                </div>
            </div>
            <div class="col-lg-4 col-md-12 box">
                <div class="create">
                    <h3 class="segment-header">Add User</h3>
                    <div class="form box"></div>
                </div>
                <div class="edit" style="display: none">
                    <h3 class="segment-header">Edit User</h3>
                    <div class="form edit-form box">

                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Administrator"))
            {
                <div class="row company-table company" style="display: none">
                    <div class="col-lg-8 col-md-12">
                        <h3 class="segment-header">Companies</h3>
                        <div class="form">

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 box">
                        <div class="create">
                            <h3 class="segment-header">Add User</h3>
                            <div class="form box"></div>
                        </div>
                        <div class="edit" style="display: none">
                            <h3 class="segment-header">Edit User</h3>
                            <div class="form edit-form box">

                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
